/* Write your custom CSS here */
.table>thead:first-child>tr:first-child>th {
    border-top: 0;
    font-size:12px !important;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 10px!important;
    font-size:12px !important;
}

.login-bg
{
  background-image: url("../images/gallery/background.png") !important;
  background-repeat: no-repeat;
  background-attachment: fixed;        
}

.page-inner {
    background: #f1f1f1;
}

.info-box .info-box-stats p {
    color: #000000;
}

.top-menu .navbar-nav>li>a {
    color: #ffffff;
    font-size: 14px;
}

.topmenu-outer {
  background: linear-gradient(90deg,#487bdb,#0044cc);
}

.navbar .logo-box {
    background: #487bdb;
}

.page-title {
    padding: 20px;
    background: #ffffff;
    border-bottom: 1px solid #afafaf;
}
#excel, #pdf {
  margin-right: 5px;
}

.ui-jqgrid-labels th {
  border-right: 1px solid #c2c2c2 !important;
}

.mr-1 {
  margin-right: 1%;
  margin-top: 10px;
}

.tabPqr .active {
    background-color: #1e92ef !important;
    color: #FFFFFF;
}

.tabPqr ul {
  float: left;
}
.tabPqr ul li {
  list-style: none;
  float: left;
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
  text-transform: uppercase;
}

.tabPqr ul li:hover {
  border: 1px solid #28699c;
  color: #065e86;
  font-weight: bold;
}

.tablepqr th {
  text-align: center;
  vertical-align: middle !important;
} 

.box-title {
  margin-bottom: 20px;
  border-bottom: 2px solid #f5efef;
  padding-bottom: 3px;
}
.img-btn {
  margin-top: -18px;
}
.jointblockrepeat:last-child {
  border: none;
}
.jointblockrepeat
{
    border-bottom: 2px groove #03a9f44d;
    margin-bottom: 24px;
}
.closeJointBlock:first-child {
  display: none;
}
/*File Upload*/
.btn-file {
  overflow: hidden;
  position: relative;
  vertical-align: middle;
}
.btn-file > input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  font-size: 23px;
  height: 100%;
  width: 100%;
  direction: ltr;
  cursor: pointer;
  border-radius: 0px;
}
.fileinput {
  margin-bottom: 9px;
  display: inline-block;
}
.fileinput .form-control {
  padding-top: 7px;
  padding-bottom: 5px;
  display: inline-block;
  margin-bottom: 0px;
  vertical-align: middle;
  cursor: text;
}
.fileinput .thumbnail {
  overflow: hidden;
  display: inline-block;
  margin-bottom: 5px;
  vertical-align: middle;
  text-align: center;
}
.fileinput .thumbnail > img {
  max-height: 100%;
}
.fileinput .btn {
  vertical-align: middle;
}
.fileinput-exists .fileinput-new,
.fileinput-new .fileinput-exists {
  display: none;
}
.fileinput-inline .fileinput-controls {
  display: inline;
}
.fileinput-filename {
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;
}
.form-control .fileinput-filename {
  vertical-align: bottom;
}
.fileinput.input-group {
  display: table;
}
.fileinput.input-group > * {
  position: relative;
  z-index: 2;
}
.fileinput.input-group > .btn-file {
  z-index: 1;
}
.invalid {
  border: 1px solid red;
}
.invalid.select2  {
    border-color: rgb(185, 74, 72) !important;
}
#viewPQR caption{
    text-align: center;
    color: #000;
    font-weight: bold;
    background: #cccccc7d;
}

#viewPQR table>tbody>tr>td{
  padding: 1px !important;
}



