body {
	background: #fff;
	font-size: 1px;
}
#viewPQR caption{
    text-align: center;
    color: #000;
    font-weight: bold;
    background: #cccccc7d!important;
}

#viewPQR table>tbody>tr>td{
  padding: 0px !important;
}

#viewPQR img {
	width: 150px;
	height: 80px;
}
.table {
	margin-bottom: 0px;
}
caption {
	padding-top: 0px; 
     padding-bottom: 0px;
}
